<div class="overflow-hidden bg-white border border-gray-800 shadow-lg sm:rounded-lg">
  <div class="px-4 py-5 border-b border-gray-800 sm:px-6">
    <div class="flex">
      <% if @project.avatar.attached? %>
        <div>
          <img class="inline-block rounded-md h-14 w-14" src=<%= @project.avatar.url %> alt="">
        </div>
      <% end %>
      <div class="ml-2">
        <h1 class="text-lg font-medium leading-6">
          <%= @project.name %>
        </h1>
        <p class="max-w-2xl mt-1 text-sm text-gray-600">
          <%= @project.tag_line %>
        </p>
      </div>
    </div>
    <div>
      <% if @current_user && @current_user.admin? %>
        <a href=<%= edit_project_path(@project) %> class="inline-flex items-center px-2 py-1 mt-3 text-sm font-medium text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700">
          Edit
        </a>
      <% end %>
    </div>
  </div>
  <% if @project.source == "github" && @project.github_id.present? %>
    <div class="flex px-4 py-5 border-b border-gray-800 justify-evenly sm:px-6">
      <% if @project.github_stars.present? %>
        <div class="flex flex-col items-center">
          <div class="font-semibold">
            Github ⭐️ </div>
          <div class="text-sm">
            <%= number_to_human(@project.github_stars, :format => '%n%u', :units => { thousand: 'K' }) %>
          </div>
        </div>
      <% end %>
      <% if @project.github_open_issues_count.present? %>
        <div class="flex flex-col items-center">
          <div class="font-semibold">
            Open Issues
          </div>
          <div class="text-sm">
            <%= number_to_human(@project.github_open_issues_count , :format => '%n%u', :units => { thousand: 'K' })  %>
          </div>
        </div>
      <% end %>
      <% if @project.github_last_release_date.present? %>
        <div class="flex flex-col items-center">
          <div class="font-semibold">
            Last Release
          </div>
          <div class="text-sm">
            <%= time_ago_in_words(@project.github_last_release_date) + " ago" %>
          </div>
        </div>
      <% end %>
      <% if @project.github_last_commit_date.present? %>
        <div class="flex flex-col items-center">
          <div class="font-semibold">
            Last Commit
          </div>
          <div class="text-sm">
            <%= time_ago_in_words(@project.github_last_commit_date) + " ago" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Project Website
        </dt>
        <dd class="mt-1 text-sm font-medium leading-5 text-indigo-600">
          <%= link_to @project.website, @project.website, target: "_blank" %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Platform
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= render TagListComponent.new(tag_list: @project.platform_tags) %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          License
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <% if @project.proprietary? %>
            <span class="inline-flex items-center text-white px-1.5 py-0.5 rounded text-xs uppercase bg-blue-500 ">
              proprietary
            </span>
          <% else %>
            <%= render TagListComponent.new(tag_list: @project.license_tags) %>
          <% end %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Category
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= render TagListComponent.new(tag_list: @project.category_tags) %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Usecase
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= render TagListComponent.new(tag_list: @project.usecase_tags) %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Technology
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= render TagListComponent.new(tag_list: @project.tech_tags) %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Offers premium version?
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= premium_description %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Proprietary?
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= proprietary_description %>
        </dd>
      </div>
      <div>
        <%= link_to new_submission_path do %>
          <button type="button" class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-blue-700 bg-blue-100 border border-transparent rounded-md hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Submit an Alternative →</button>
        <% end %>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          About
        </dt>
        <dd class="mt-1 text-sm leading-5 prose text-gray-900">
          <%= render_markdown_html(@project.description).html_safe %>
        </dd>
      </div>
    </dl>
  </div>
</div>
