<div class="max-w-5xl pb-8 mx-auto mt-3">
  <%if @project_list.empty? %>
    <div class="m-8 text-sm font-medium leading-5 text-center truncate">
      No projects found
    </div>
  <% else %>
    <ul class="grid grid-cols-1 gap-4 sm:grid-cols-3">
      <% @project_list.each do |project| %>
        <li class="max-w-xl col-span-1 bg-white rounded-lg shadow-lg border border-1"
            data-controller="project-card"
            data-project-card-project-id-value=<%= project.slug %>
        >
          <div class="px-4 py-4 sm:px-6">
            <div class="flex">
              <% if project.avatar.attached? %>
                <div class="mr-2">
                  <img class="inline-block object-contain w-12 h-12 rounded-md max-w-none" src=<%= project.avatar.url %> alt="" loading="lazy">
                </div>
              <% end %>
              <div>
                <div class="flex items-center justify-between">
                  <div class="text-sm font-medium leading-5 text-blue-600 truncate">
                    <%= link_to project.name, project_path(project) %>
                  </div>
                </div>
              </div>
            </div>
            <div class="sm:flex sm:justify-between mt-1">
              <div class="sm:flex">
                <div class="flex items-center text-sm leading-5 text-gray-500 line-clamp-4">
                  <%= project.tag_line %>
                </div>
              </div>
            </div>
            <div class="flex mt-1 -ml-2 space-x-2">
              <% if project.github_stars.present? %>
                <div class="flex mt-1 text-sm text-amber-600">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                  <%= number_to_human(project.github_stars, :format => '%n%u', :units => { thousand: 'K' }) %>
                </div>
              <% end %>
            </div>
            <div class="flex mt-1 -ml-2 space-x-2">
              <div class="mt-1 text-sm flex gap-1 flex-wrap">
                <%= render TagListComponent.new(tag_list: project.usecase_tags) %>
              </div>
              <div class="mt-1 text-sm flex gap-1 flex-wrap">
                <% if project.proprietary? %>
                  <span class="inline-flex items-center text-white px-1.5 py-0.5 rounded text-xs uppercase bg-blue-500 ">
                    Proprietary
                  </span>
                <% else %>
                  <%= render TagListComponent.new(tag_list: project.license_tags) %>
                <% end %>
              </div>
            </div>
            <div class="mt-3 -ml-1 flex flex-wrap gap-2">
              <%= link_to project_path(project), target: "_blank" do %>
                <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-amber-500 text-xs font-medium rounded text-amber-700 bg-amber-100 hover:bg-amber-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">Open alternatives <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                    <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                  </svg>
                </button>
              <% end %>
              <button data-action="click->project-card#openProjectPreview" type="button" class="inline-flex items-center px-2.5 py-1.5 border border-amber-500 text-xs font-medium rounded text-amber-700 bg-amber-100 hover:bg-amber-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">Quick Preview
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13 10V3L4 14h7v7l9-11h-7z" />
                </svg>
              </button>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @project_list.respond_to?(:total_pages) && @project_list.total_pages > 1 %>
    <nav class="flex justify-center max-w-5xl px-4 py-3 mx-auto mt-4 mb-5 bg-white rounded-lg shadow-lg sm:px-6 ">
      <p class="inline-block text-sm">
        <%= paginate @project_list %>
      </p>
    </nav>
  <% end %>
</div>
