<div class="bg-white shadow overflow-hidden sm:rounded-md mt-3">
  <%if @project_list.empty? %>
    <div class="text-sm leading-5 m-8 text-center font-medium text-indigo-600 truncate">
      No projects found
    </div>
  <% else %>
    <ul>
      <% @project_list.each do |project| %>
        <li>
          <%=link_to project_path(project),  class: "block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out" do %>
            <div class="px-4 py-4 sm:px-6">
              <div class="flex items-center justify-between">
                <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
                  <%= project.name %>
                </div>
                <div class="ml-2 flex-shrink-0 flex">
                  <% project.tags.each do |tag| %>
                    <%= link_to(tag_show_path(tag.name)) do %>
                      <span class="px-3 mx-1 inline-flex text-xs leading-5 font-semibold rounded-full <%= TAILWIND_COLOURS_BG_300.sample %> text-white-800">
                        <%= tag.name %>
                      </span>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                  <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
                    <%= project.tag_line %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
  <div class="hidden sm:block">
    <p class="text-sm leading-5 text-indigo-600">
      <%= paginate @project_list if @project_list.respond_to?(:total_pages)%>
    </p>
  </div>
</nav>
