<div class="overflow-hidden bg-white border-b shadow sm:rounded-lg">
  <div class="px-4 py-5 border-b border-gray-300 sm:px-6">
    <h1 class="text-lg font-medium leading-6 text-gray-900">
      <%= @project.name %>
    </h1>
    <p class="max-w-2xl mt-1 text-sm leading-5 text-gray-500">
      <%= @project.tag_line %>
    </p>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Project Website
        </dt>
        <dd class="mt-1 text-sm font-medium leading-5 text-indigo-600">
          <%= link_to @project.website, @project.website, target: "_blank" %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Platform
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <% @project.tech_tags.each do |tag| %>
            <%= link_to(tag_show_path(tag.slug)) do %>
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 <%= TAILWIND_COLOURS_BG_400.sample %> text-white-800">
                <%= tag.name %>
              </span>
            <% end %>
          <% end %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          License
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <% @project.license_tags.each do |tag| %>
            <%= link_to(tag_show_path(tag.slug)) do %>
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 <%= TAILWIND_COLOURS_BG_400.sample %> text-white-800">
                <%= tag.name %>
              </span>
            <% end %>
          <% end %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Category
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <% @project.category_tags.each do |tag| %>
            <%= link_to(tag_show_path(tag.slug)) do %>
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 <%= TAILWIND_COLOURS_BG_400.sample %> text-white-800">
                <%= tag.name %>
              </span>
            <% end %>
          <% end %>
        </dd>
      </div>
            <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Usecase
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <% @project.usecase_tags.each do |tag| %>
            <%= link_to(tag_show_path(tag.slug)) do %>
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 <%= TAILWIND_COLOURS_BG_400.sample %> text-white-800">
                <%= tag.name %>
              </span>
            <% end %>
          <% end %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          Offers premium version?
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= premium_description %>
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          First and last release
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900">
          <%= release_description %>
        </dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium leading-5 text-gray-500">
          About
        </dt>
        <dd class="mt-1 text-sm leading-5 prose text-gray-900">
          <%= @markdown.render(@project.description).html_safe %>
        </dd>
      </div>
    </dl>
  </div>
</div>
