<% title 'Search projects' %>
<% description 'Search for open source projects on ossdatabase' %>
<% set_meta_tags og: { title: "Search projects", 
                       description: 'Search for open source projects on ossdatabase', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: projects_search_url},
                 canonical: projects_search_url %>
<div class="max-w-6xl px-4 mx-auto mt-8 sm:px-6 lg:px-8" data-controller="selectize">
  <div class="pb-5 border-b border-gray-200">
    <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
      <h1 class="mt-2 ml-2 text-lg font-medium leading-6 text-gray-900">
        Search OSS projects
      </h1>
    </div>
  </div>
  <div class="mt-4 overflow-hidden bg-white rounded-lg shadow">
    <div class="px-4 py-5 sm:p-6">
      <%= form_for @q, url: projects_search_path, method: "GET" do |f| %>
        <div>
          <div>
            <div class="grid grid-cols-1 mt-6 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <%= f.label :project_name, class: "block text-sm font-medium leading-5 text-gray-700" %>
                <div class="mt-1 rounded-md shadow-sm">
                  <%= f.search_field :name, class: "border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm" %>
                </div>
              </div>
              <div class="sm:col-span-3">
                <%= f.label :tags, class: "block text-sm font-medium leading-5 text-gray-700" %>
                <div class="mt-1 rounded-md shadow-sm">
                  <%= f.select :tag_ids, Tag.all.collect {|tag| [ tag.name, tag.id ] }, {}, {multiple: true,  "data-target": "selectize.selectInput"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-5 mt-8">
          <div class="flex justify-end">
            <span class="inline-flex ml-3 rounded-md shadow-sm">
              <%= f.submit "Search", class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:ring-indigo active:bg-indigo-700 transition ease-in-out duration-150" %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render(ProjectListComponent.new(project_list: @projects)) %>
</div>
