<% title "Browse projects" %>
<% description 'Browse open source projects by tags on ossdatabase' %>
<% set_meta_tags og: { title: "Browse projects", 
                       description: 'Browse open source projects by tags on ossdatabase', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: projects_browse_url},
                canonical: projects_browse_url %>
<div class="bg-white">
  <div class="max-w-6xl px-4 py-8 mx-auto sm:px-6 lg:px-8">
    <div>
      <% TOP_TAG_TYPES.each do |tag_type| %>
        <h1 class="my-4 font-medium tracking-wide text-gray-800 uppercase text-md"> <%= tag_type %> tags </h1>
        <ul class="grid grid-cols-1 gap-5 mt-3 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
          <% Tag.where(tag_type: tag_type).each do |tag| %>
            <%= link_to(tag_show_path(tag.slug)) do %>
              <li class="flex col-span-1 border border-gray-400 rounded-md shadow-lg">
                <div class="shrink-0 flex items-center justify-center w-16 <%= TAG_COLORS[tag.tag_type] %> text-white text-sm leading-5 font-medium rounded-l-md">
                  <%= tag.name[0,2].upcase %>
                </div>
                <div class="flex items-center justify-between flex-1 truncate bg-white border-t border-b border-r border-gray-200 rounded-r-md">
                  <div class="flex-1 px-4 py-2 text-sm leading-5 truncate">
                    <div class="font-medium text-gray-900 transition duration-150 ease-in-out hover:text-gray-600"><%= tag.name.upcase %></div>
                    <p class="text-gray-500"> <%= tag.taggings.count %> projects </p>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
