<% title  @license.name %>
<% set_meta_tags og: { title: @license.name,
                       description: "Information and legal text about #{@license.name} #{@license.key}",
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: license_url(@license)},
                 canonical: license_url(@license) %>
<% description "Information and legal text about #{@license.name} #{@license.key}" %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto py-20">
    <%= render OpenSourceGuideNavComponent.new %>
    <div class="prose md:prose-lg lg:prose-xl mt-10">
      <h1 class=""><%= @license.name %></h1>
      <%= link_to "View projects with this license", projects_with_license_url(key: @license.key), class: "text-blue-500" %>
      <h4>license summary</h4>
      <p class="text-gray-500 prose"><%= @license.description.html_safe %></p>
      <h4>license text</h4>
      <pre class=" whitespace-pre-wrap  h-80">
        <%= @license.content %>
      </pre>
    </div>
  </div>
</div>
