<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'OSS Database' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: "defer" %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="saashub-verification" content="LTFnBuxfy3n7" />
  </head>
  <body>
    <%= render partial: "pages/nav" %>
    <%= render "pages/flash", notice: notice, alert: alert %>
    <%= yield %>
    <%= render partial: "pages/footer.html.erb"%>
    <% if Rails.env.production? %>
      <script defer data-domain="ossdatabase.com" src="https://plausible.io/js/plausible.js"></script>
    <% end %>
    <%= render ModalComponent.new %>
  </body>
</html>
